@font-face {
	font-family: 'Conv_Avenir Next Medium';
	src: url('../fonts/Avenir Next Medium.eot');
	src: local(''), url('../fonts/Avenir Next Medium.woff') format('woff'), url('../fonts/Avenir Next Medium.ttf') format('truetype'), url('../fonts/Avenir Next Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Avenir Next Bold';
	src: url('../fonts/Avenir Next Bold.eot');
	src: local(''), url('../fonts/Avenir Next Bold.woff') format('woff'), url('../fonts/Avenir Next Bold.ttf') format('truetype'), url('../fonts/Avenir Next Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/*body {
line-height: 1;}*/

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin:0px;
	padding:0px;
	box-sizibg:border-box;
}
a {
	text-decoration:none;
	outline:none;
}
a:hover, a:focus {
	/*color: #000;*/
	color:#222;
	text-decoration: none;
}
.spacer {
	clear:both;
	line-height:0px;
	font-size:0px;
}
img {
	margin: 0;
	padding: 0;
	border:0;
	height:auto;
	max-width:100%;
	/*image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;*/
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
ul, ol {
	list-style-type:none;
}
body {
	margin:0;
	padding:0;
	overflow-x:hidden;
	color:#555555;
	line-height: 1;
	font-family: 'Conv_Avenir Next Medium';
}



.header-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99; }

.header-bottom {
  position: relative;
  float: left;
  display: block;
  width: 100%;
 background-color: #fff;
  z-index: 99999;}


.header-bottom.stick {
    position: fixed;
    top: 0;
   
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-animation: 300ms ease-in-out 0s fadeInDown;
    animation: 300ms ease-in-out 0s fadeInDown; }


@keyframes fadeInDown {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: none;
    transform: none; } }


	
    .header-bottom.stick .logo {
      width:260px;
      margin:12px 0 0; }

.navigation-outer{ width:100%; border-bottom:1px solid #f1f1f1;}

.navbar{ background:#fff; margin-bottom:0; border:none;}

.nav{margin:0 0 0 0;}

.navigation-outer .navbar-brand {
  height: auto;
  padding:18px;
  width:140px;
 }

.navbar-brand > img {
/*image-rendering: -moz-crisp-edges;
image-rendering: -moz-crisp-edges;*/
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
/*-ms-interpolation-mode: nearest-neighbor;*/
 width: 70%;
}

.navbar-collapse{ padding-left:0; padding-right:0;}

.navbar-toggle{border-color: #333; background:#333; margin-top:26px;}

.navbar-toggle span{ background:#fff;}

.navbar-nav ul{ border:none;}

.navbar-nav > li > a{ color:#fff; font-family: 'Conv_Avenir Next Bold'; font-size:16px; text-transform:uppercase; background:#333;}

.nav > li > a:hover, .nav > li > a:focus{ color:#f05f40;}

.top-logo{margin: 115px 0 15px;}

.top-logo img{ width:200px;}

.baner{ width:100%; position:relative; overflow:hidden;}

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides > li:first-child {
    display: block; 
    -webkit-backface-visibility: visible;
}

.flexslider .slides img {/*width: 100%;*/ display: block;}

.flex-direction-nav{ display:none;}

.flex-control-paging{ position:absolute; width:100%; left:0; bottom:20px; text-align:center; z-index:4;}

.flex-control-paging li{ display:inline-block; vertical-align:top;  margin:0 4px; }

.flex-control-paging li a{ width:22px; height:22px; border:3px solid #f05f40; display:block; border-radius:100%; font-size:0;}

.flex-control-paging li a.flex-active{ background:#f05f40;}

.service-sec{ width:100%; padding:40px 0;}

.service-sec h2{ text-align:center; position:relative; color:#818181; font-size:22px; text-transform:uppercase; font-family: 'Conv_Avenir Next Bold'; margin-bottom:80px;}

.service-sec h2:after{ width:100%; height:2px; background:#f1f1f1; left:0; top:9px; content:''; position:absolute;}

.service-sec h2 span{ background:#fff; padding:20px; position:relative; z-index:4;}

.service-sec h4{ text-align:center; font-size:15px; font-family: 'Conv_Avenir Next Bold'; margin:20px 0; text-transform:uppercase;}

.service-sec p{ font-size:17px; line-height:30px; margin-bottom:20px;}

.how-work-sec{ width:100%; padding:30px 0;}

.how-work-sec h2{ text-align:left; position:relative; color:#818181; font-size:22px; text-transform:uppercase; font-family: 'Conv_Avenir Next Bold'; margin-bottom:80px;}

.how-work-sec h2:after{ width:100%; height:2px; background:#f1f1f1; left:0; top:9px; content:''; position:absolute;}

.how-work-sec h2 span{ background:#fff; padding: 14px 30px; position:relative; z-index:4; border:2px solid #f1f1f1;}

.how-work-sec ul{ margin:0; padding:0; text-align:right;}

.how-work-sec ul.list-one li{ width:100%; display:block; background:url(../images/arrow-mobile.jpg) bottom center no-repeat; padding-bottom:57px; margin:0;}

.how-work-sec ul.list-one li span{ width:100%; display:block; border:3px solid #f05f40; padding:20px 15px; font-size:18px; text-align:center; text-transform:capitalize; font-family: 'Conv_Avenir Next Bold'; border-radius:50px;}

.arrow-down{ display:none;}


.how-work-sec ul{ margin:0; padding:0; text-align:right;}

.how-work-sec ul.list-two li{ width:100%; display:block; background:url(../images/arrow-mobile.jpg) bottom center no-repeat; padding-bottom:57px; margin:0;}

.how-work-sec ul.list-two li span{ width:100%; display:block; border:3px solid #f05f40; padding:20px 15px; font-size:18px; text-align:center; text-transform:capitalize; font-family: 'Conv_Avenir Next Bold'; border-radius:50px;}

.how-work-sec ul.list-two li:last-child{ background:none; padding-bottom:0;}

.work-sec{ width:100%; padding:40px 0;}

.work-sec h2{ text-align:center; position:relative; color:#818181; font-size:22px; text-transform:uppercase; font-family: 'Conv_Avenir Next Bold'; margin-bottom:40px;}

.work-sec h2:after{ width:100%; height:2px; background:#f1f1f1; left:0; top:9px; content:''; position:absolute;}

.work-sec h2 span{ background:#fff; padding:20px; position:relative; z-index:4;}

.work-sec ul{ margin:0; padding:0; text-align:center;}

.work-sec ul li{ width:100%; margin:10px 0; padding:10px; text-align:left; border:1px solid #f1f1f1;}

.work-img{ width:100%;}

.work-img img{ width:100%;}

.work-sec ul li h5{ text-transform:uppercase; margin-top:15px; font-size:15px; font-family: 'Conv_Avenir Next Bold';}

.work-sec p{ margin-top:50px;}

.work-sec p a{ margin:0 auto; font-size:18px; padding:20px 30px; border:1px solid #f16142; font-family: 'Conv_Avenir Next Bold'; color:#555555;}

.testi-top{ padding:30px 0 25px; margin-top:30px; width:100%; background:#2f302f;}

.testi-top h2{ text-align:center; color:#fff;  font-family: 'Conv_Avenir Next Bold'; font-size:25px;}

.carousel-outer{ background:url(../images/comma.jpg) center top no-repeat; padding-top:80px; margin-top:30px;}

.testi-top p{ color:#cacaca; font-size:17px; margin-bottom:25px; line-height:30px; font-style:italic;}

.testi-top h4{ text-align:center; color:#ffffff; font-family: 'Conv_Avenir Next Bold'; font-size:20px;}

.testi-top h4 span{ color:#f05f40;}

.owl-nav{ display:none;}

.contact-outer{ width:100%; padding:20px 0 30px; background:#2f302f;}

.contact-outer h2{ text-align:center; position:relative; color:#c9c9c9; font-size:22px; text-transform:uppercase; font-family: 'Conv_Avenir Next Bold'; margin-bottom:40px;}

.contact-outer h2:after{ width:100%; height:1px; background:#999; left:0; top:9px; content:''; position:absolute;}

.contact-outer h2 span{ background:#2f302f; padding:20px; position:relative; z-index:4;}

.contact-box{ width:100%; padding:20px 10px 20px 10px; background:#d8d8d8; -webkit-box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.66);
-moz-box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.66);
box-shadow: 0px 2px 0px 1px rgba(0,0,0,0.66); overflow:hidden; min-height:130px; text-align:center; margin-bottom:15px;}
 
.contact-box h5{ font-size:30px; color:#555555;}

.contact-box p{ font-size:23px; margin-top:20px;}

.contact-box img{ display:block; margin:0  auto 20px;}

.socual-sec{ margin-top:30px; text-align:center;}

.socual-sec a{ display:inline-block; vertical-align:top; margin:0 2px; width:50px; width:45px; height:45px;}

.socual-sec a.foot-social-1{ background:url(../images/social-icon-1.jpg) left top no-repeat; background-size:100% auto;}

.socual-sec a.foot-social-1:hover{ background:url(../images/social-icon-1-hover.png) left top no-repeat; background-size:100% auto;}

.socual-sec a.foot-social-2{ background:url(../images/social-icon-2.jpg) left top no-repeat; background-size:100% auto;}

.socual-sec a.foot-social-2:hover{ background:url(../images/social-icon-2-hover.png) left top no-repeat; background-size:100% auto;}

.socual-sec a.foot-social-3{ background:url(../images/social-icon-3.jpg) left top no-repeat; background-size:100% auto;}

.socual-sec a.foot-social-3:hover{ background:url(../images/social-icon-3-hover.png) left top no-repeat; background-size:100% auto;}

.socual-sec a.foot-social-4{ background:url(../images/social-icon-4.jpg) left top no-repeat; background-size:100% auto;}

.socual-sec a.foot-social-4:hover{ background:url(../images/social-icon-4-hover.png) left top no-repeat; background-size:100% auto;}

.footer{ width:100%; padding:20px 0; background:#5b5b5b;}

.footer p{ font-size:17px; color:#b3b1b1;}

/********************PopUp*********************************************/

.modal-dialog {
  margin: 30px auto;
  width:300px;
}

.modal-header{ border:none;}

.modal-content{ border-radius:0;}

.popup-gallery{ width:100%; margin-bottom:20px;}

.rg-gallery{display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;}

.gallery-right-sec h4{font-family: 'Conv_Avenir Next Bold'; font-size:25px;}	

.gallery-right-sec p{ margin-top:15px; line-height:30px; font-size:17px;}

.popup-logo{ margin-top:20px;}

.popup-logo a{ width:120px; margin:0 10px 0 0; display:inline-block; vertical-align:top;}

.close{ opacity:1; width:25px;}